﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}

body{
    background-color:#EEEEEE;
}
.todolist{
    background-color:#FFF;
    padding: 5px 20px 70px 20px;
    margin-top:30px;
    text-align: center;
}

.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}

.form-control{
    border-radius:0;
}

.todo-items {
    margin-top:40px;
}

.todo-item {
    margin-top: 5px;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #a6a6a6;
}

.todo-item:hover {
    transform: scale(1.03);
}

li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

li.ui-state-default:last-child{
    border-bottom:none;
}

.todo-footer{
    background-color:#F4FCE8;
    margin:0 -20px -10px -20px;
    padding: 10px 20px;
}
#done-items li{
    padding:10px 0;
    border-bottom:1px solid #ddd;
    text-decoration:line-through;
}
#done-items li:last-child{
    border-bottom:none;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#mainBody {
    transition: all 2s ease;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: white;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.btn-black {
    color: #999999;
    background-color: #000000;
    width: 100%;
    text-align: left;
    padding-left: 0;
}

.btn-black:hover {
    text-decoration: none;
    color: #fff;
    background: white;
    background: rgba(255,255,255,0.0);
}

.btn-delete{
    float: right;
    margin-top: -80px;
}

.dropdown:hover {
    text-decoration: none;
    color: #fff;
    background: white;
    background: rgba(255,255,255,0.2);
}

.dropdown-menu {
   background-color: #000000;
}

.status-todo {
    background-color: grey;
    background-color: rgba(153, 153, 153, 0.66);
}

.status-inprogress {
    background-color: yellow;
    background-color: rgba(230, 246, 22, 0.81);
}

.status-done {
    background-color: greenyellow;
    background-color: rgba(31, 254, 14, 0.85);
}