﻿@model TodoItemViewModel

@{
    if (ViewBag.Edit != null && ViewBag.Edit)
    {
        ViewBag.ID = Model.TodoItemID;
        ViewBag.Action = "PutTodoItem";
        ViewBag.Method = "PUT";
        ViewBag.Success = "onSuccessSave";
        ViewBag.Failure = "onFailSave";
    }
    else
    {
        ViewBag.ID = "";
        ViewBag.Action = "PostTodoItem";
        ViewBag.Method = "POST";
        ViewBag.Success = "onSuccessAdd";
        ViewBag.Failure = "onFailAdd";
    }
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="todolist not-done">

            <form id="todoItem" asp-controller="Todo" asp-action="@ViewBag.Action" asp-route-id="@ViewBag.ID" data-ajax="true" data-ajax-method="@ViewBag.Method" data-ajax-success="@ViewBag.Success" data-ajax-failure="@ViewBag.Failure">
                <input type="hidden" name="todoItemID" value="@Model.TodoItemID" />
                <div class="form-group">
                    <label asp-for="Name" class="col-md-10 col-md-offset-1 form-inline row"></label>
                    <div class="col-md-10 col-md-offset-1 form-inline row">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger col-md-10 col-md-offset-1 form-inline row"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="col-md-10 col-md-offset-1 form-inline row"></label>
                    <div class="col-md-10 col-md-offset-1 form-inline row">
                        <select asp-for="Status" asp-items="Html.GetEnumSelectList<TodoItemStatuses>()" class="form-control"></select>
                        <span asp-validation-for="Status" class="text-danger col-md-10 col-md-offset-1 form-inline row"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <div class="col-md-10 col-md-offset-1 form-inline row">
                        <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger col-md-10 col-md-offset-1 form-inline row"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateStart"></label>
                    <div class="col-md-10 col-md-offset-1 form-inline row">
                        <input asp-for="DateStart" class="form-control" />
                        <span asp-validation-for="DateStart" class="text-danger col-md-10 col-md-offset-1 form-inline row"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateEnd"></label>
                    <div class="col-md-10 col-md-offset-1 form-inline row">
                        <input asp-for="DateEnd" class="form-control" />
                        <span asp-validation-for="DateEnd" class="text-danger col-md-10 col-md-offset-1 form-inline row"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-10">
                        @if (ViewBag.Edit != null && ViewBag.Edit)
            {
                            <button type="submit" class="btn btn-success">Save todo</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success">Add todo</button>
                        }
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>