﻿@model IEnumerable<TodoItemViewModel>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="container">
        
                    <h1>Todos</h1>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div>
                            @await Component.InvokeAsync("TodoItemAdd")
                        </div>
                        <br />
                        @await Component.InvokeAsync("TodoItemList", new { showAllItems = false, delete = false, update = false })
                    }
                    else
                    {
                        <h3>Please sign in to see yours todo list.</h3>
                    }
                </div>
            </div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}