﻿@model IEnumerable<TodoItemViewModel>
<div id="todoList" class="todo-items">
    @if (Model.Count() == 0)
    {
        <h3>You currently have nothing to do :)</h3>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="todo-item status-@item.Status.ToString().ToLower()" id="id-@item.TodoItemID">
                <div>
                    <label>Name:</label>
                    <label>@item.Name</label>
                </div>
                <div>
                    <label>Status:</label>
                    <label>
                        @switch (item.Status)
                        {
                            case TodoItemStatuses.ToDo:<text>To do</text>
                                break;
                            case TodoItemStatuses.InProgress:<text>In progress</text>
                                break;
                            default:
                                @item.Status
                                ;
                                break;
                        }
                    </label>
                </div>

            <div>
                <label>Date start:</label>
                <label>@item.DateStart.ToString("dd/MM/yyyy")</label>
            </div>

            <div>
                <label>Date end:</label>
                <label>@item.DateEnd.ToString("dd/MM/yyyy")</label>
            </div>

            <div>@item.Description</div>
            
            @if (ViewBag.Delete)
            {
            <div class="btn-delete">
                <div class="col-md-offset-1 col-md-10">
                    @* Pokušo al mi ne ide
                        <a asp-controller="Todo" asp-action="DeleteTodoItem" asp-route-id="@item.TodoItemID" data-ajax="true" data-ajax-method="DELETE" data-ajax-success="onSuccessDelete" data-ajax-failure="onFailDelete" class="btn btn-danger">Delete</a>*@
                    <button id="btnDelete" class="btn btn-danger" onclick="deleteTodo(@item.TodoItemID)">Delete</button>
                </div>
            </div>
            }
            else if (ViewBag.Update)
            {
                <div class="btn-delete">
                    <div class="col-md-offset-1 col-md-10">
                        <a id="btnEdit" class="btn btn-success"  asp-controller="Admin" asp-action="GetTodoItemUpdate" asp-route-id="@item.TodoItemID" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#mainBody">Edit</a>
                    </div>
                </div>
            }
        </div>
        }

        <div class="todo-footer">
            <strong><span class="count-todos"></span></strong> Items left to do:
            <div id="count">
                @Model.Count()
            </div>
        </div>
    }
</div>